<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="UserName" value="27965@downing.co.uk" />
    <add key="Password" value="Password1!" />
    <add key="WebSite" value="https://regression-crowd-client.downinglabs.co.uk/" />
    <add key="ScreenshotStorage" value="C:\ScreenShot\" />
    <add key="ReportStorage" value="C:\Orbitz_TestReport\"/>
    <add key="PageLoadTimeout" value="40"/>
    <add key="ElementLoadTimeout" value="50"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>